.heading {
  text-align: center;
}

.question {
  background: linear-gradient(211deg, rgb(218, 209, 209) 48%, rgb(173, 171, 171) 50%);
  color: #2b2b2b;
  margin: 0px auto;
  width: 300px;
  padding: 5px 10px;
  border-radius: 4px;
}

.question-number {
  text-align: center;
}

button {
  margin: 2% 40%;
  cursor: pointer;
}

button:hover {
  color: rgb(10, 192, 10);
}
